In [55]:
import matplotlib
import pandas as pd

In [13]:
df = pd.read_csv("../Data/Budget_calculations_2021.csv")

In [14]:

df = df.loc[6:]
### Only created data from july

In [18]:
df.iloc[0:]

,Month,Account1,Account2,Stocks,Crypto,Mutal,Bank Total,Total
6,July,95960.93,3206.26,0,869.72,0,99167.19,100036.91
7,August,119498.51,2202.01,0,869.72,0,121700.52,122570.24
8,September,110068.16,1212.01,0,869.72,0,111280.17,112149.89
9,October,104652.94,3488.23,0,869.72,0,108141.17,109010.89
10,November,105286.52,5959.23,0,869.72,0,111245.75,112115.47
11,December,100559.10,11033.23,0,869.72,0,111592.33,112462.05

## creating function for calculation


Data:

	Total bank balance in each month
	Total investment in each month
	Total spend in each month
	Total money gained in each month
	
Methods:

	End of each momth enter total bank balance
	Dont bother about investment

Calculations:

	//Spend ratio bank =  Total bank - recorded spending total
	Spend ratio total = Total investment - recorded Spending Total
	investment increases = Total investment - last month total investment
	
Sample
jan:

	Total bank 1000
	Total investment 500
	Total 1500
	
Feb :

	Total bank 1600
	Total investment 530
	Total 2130
	

Growth calc

	Bank:
		increase: 1600 - 1000 = 600
		per:  600/1000 * 100 = 60
	
	Investment:
		increase: 530 - 500 =30
		per: 30/500 *100 = 6%
	
	Total:
		increase: 2130 - 1500 = 630
		per: 630/1500 * 100 = 42|
		Total spend
		Total gained

In [40]:
def calculate_list_sum(value_list):
    """
    used for to get sum of  bank total, invest total, any thing which have list of integers

    """
    total_sum =  sum(value_list)
    print(total_sum)
    return round(total_sum,2)

In [41]:
calculate_list_sum(df.iloc[0][["Account1","Account2"]].tolist())

99167.18999999999

99167.19

In [53]:
def percent_ratio(value_list):
    """
    [previous month value,currunt month value] can be total of anything
    """
    ratio = ((value_list[1] - value_list[0])/value_list[0])*100
    return round(ratio,2)

In [54]:

percent_ratio([df.iloc[0]["Total"],df.iloc[1]["Total"]])

22.53